<body>
    <div class="min-h-300 min-w-full">
        <div class="bg-sky-900 flex">
            <div class="m-auto text-2xl font-bold text-white text-6xl italic flex">
                <img src="https://www.educative.io/udata/wMY64yv122J/Logo_IconOnly_120_Black.svg" class="p-5" width="150" height="100"/>
                <h1 class="p-10">My Website!</h1>
            </div>

        </div>
    </div>

    <div class="relative min-h-700 flex min-w-full">
        <div class="bg-white br-1 text-2xl w-64 text-gray-400">
            <nav >
                <a href="" class="border-b-2 block py-2.5 pl-10 px-4 transition duration-200 hover:bg-sky-900 hover:text-white">
                    Home</a>
                <a href="" class="border-b-2 block py-2.5 pl-10  px-4 transition duration-200 hover:bg-sky-900 hover:text-white rounded">About</a>
                <a href="" class="border-b-2 block py-2.5 pl-10  px-4 transition duration-200 hover:bg-sky-900 hover:text-white rounded">Intresting Things</a>
                <a href="" class="border-b-2 block py-2.5 pl-10  px-4 transition duration-200 hover:bg-sky-900 hover:text-white rounded">Boring Things</a>
                <a href="" class="border-b-2 block py-2.5 pl-10  px-4 transition duration-200 hover:bg-sky-900 hover:text-white rounded">Contact Us</a>
                <button class="transition-opacity duration-500 transform scale-y-125 px-6 py-2 m-4 
                    hover:border-yellow-500 hover:opacity-50 hover:shadow-md
                    hover:scale-125 rounded transition duration-200 hover:bg-sky-900 hover:text-white">
                    Animation
                </button>
            </nav>
        </div>
        <div class="p-10 font-bold font-serif">
            <h1 class="text-4xl pt-3">My First Web Page</h1>
            <h2 class="text-3xl pt-10 pb-5">Heading Are Great Fun</h2>
            <p>This is My First paragraph in my First Webpage. This is doing to be great.
                I am so excited  I can hardly contain myself. Don't you just love paragraph? I find them vary useful.
            </p>
            <h2 class="text-3xl pt-10 pb-5">Heading Are Great Fun</h2>
            <p>This is My First paragraph in my First Webpage. This is doing to be great.
                I am so excited  I can hardly contain myself. Don't you just love paragraph? I find them vary useful.
            </p>
        </div>

    </div>
    <div class="bg-red-600 text-white text-center bottom-0 min-w-full">
        <p class="py-2">&copy; educative.io</p>
    </div>
</body>
